body,ul, li,h1,h2,a
{
margin: 0;
padding: 0;
font-family: Tahoma;
}
p{
    font-size: 18px;
}
header h1{
background-color: #d2a95d;
padding: 20px;
text-align: center;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
header h1 img{
    height: 40px;
    width: 40px;
}
header h1{
    color: cornsilk;
    display: inline-block;
    padding: 12px 12px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
  }
  .banner .welcome{
    display: inline-block;
    background:#068859;
    color: white;
   /*  padding: 30px;
    font-size: 30px; */
    position: absolute;
    left: 40px;
    top: 97%;
    
  } 
  .banner .welcome span{
    font-size: 1.2em;
  }
  nav{
    background: #04532a;
    padding: 5px;
    position: sticky;
    top: 70px;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  nav li {
    text-decoration: none;
    color: #c41818;
  }
  nav li:hover{
    text-decoration: underline;
  }
  nav li.home{
    color: #F63232;
    font-size: 36px;
  }
  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  article h2{
    color: #a84d4d;
    font-size: 48px;
  }
  article p{
    line-height: 2em;
    color: #4B4B4B;
  }

  }
  article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
  }
article ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    left: 10px;
  }
  .contact
  {
    list-style: none;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: rgba(200,200,200,1);
    box-shadow: 0px -4px 5px 0px rgba(200,200,200,0.5);
    /* box-shadow: 0px -12px 18px 0px rgba(56,56,56,1); */
    padding: 20px 20px;
    color: #333333;
    text-shadow: #f4f4f4;
    font-size: larger;
    line-height: 1.5em;
    max-width: 100%;
  }
  .contact li{
  display: inline-block;
  width: 15%;
  margin: 10px;
  padding: 0 100px;
  white-space: nowrap;
  }
 
  footer{
      text-align: center;
  }